.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background: #fff;
  border-bottom: var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 18%;
  background: var(--color-grey-dark-1);
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}
